<div class="sidebar-container">
  <div class="sidebar-logo">
    Social Network Analyzer
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-navigation">
        <li class="header"><input type="button" class="btn btn-success" (click)="createDataset()" value="New Dataset"></li>
        <li *ngFor="let dataset of datasets">
          <a (click)="onSelect(dataset)">
            {{dataset.name}}
          </a>
        </li>
        <li class="header">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content-container">
    <app-header></app-header>
  <div class="container-fluid">
    <app-item-dataset [dataset]="selectedDataset" (onDatasetDeletionSucceed)="deleteDatasetFromSidebar($event)"></app-item-dataset>
    <app-dataset-input *ngIf="newDataset" (onDatasetCreationSucceed)="addItemToSidebar($event)"></app-dataset-input>
  </div>
  <app-footer></app-footer>
</div>